* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2016/10/26/23/14/form-1772949_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    width: 500px;
    animation: appear 1s ease;
}

fieldset {
    padding: 50px;
    border: none;
    border-radius: 10px 20px 30px 40px;
    background-color: aliceblue;
    box-shadow: 10px 10px 10px aliceblue;
    backdrop-filter: blur(8px);
}

legend {
    padding: 8px 18px;
    background: linear-gradient(
    135deg,
    skyblue,
    pink
    );
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 8px;
    color: purple;
    font-size: 30px;
}

.subtitle {
    text-align: center;
    margin-bottom: 25px;
    color: lightpink;
    font-size: 14px;
}

label {
    display: block;
    margin-bottom: 7px;
    color: green;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}

input:hover {
    border-color: #999;
}

input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
    135deg,
    skyblue,
    yellow
    );
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
}

.reset {
    background: #777;
}